.HeadingPrimaryMain {
    display: block;
    width: 100%;
    height: auto;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden !important;
}

@media only screen and (max-width: 37.5em) {
    .HeadingPrimaryMain {
        font-size: 4.3rem;
    }
}

@media only screen and (max-width:56.25em) {
    .title {
        font-size: 4.3rem;
        margin-bottom: 2rem !important;
    }
}