.Tabbar {
    display: flex;
    width: fit-content;
    margin: auto;
    border: 1px solid #979797;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.Item:last-child {
    border-right: none;
}

.Item {
    display: block;
    border-right: 1px solid #979797;
    padding: 1rem;
}

.Active {
    background-color: #10299c;
    color: #ffffff;
    border-color: #000;
    border-radius: 0rem;
}

.Active:first-child {
    border-radius: 0.8rem 0 0 0.8rem;
}

.Active:last-child {
    border-radius: 0 0.8rem 0.8rem 0;
}