.SignInForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    row-gap: 2rem;
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    font-size: 2rem;
}

.SignInForm button {
    margin: 1rem;
    z-index: 0;
}

.SignInForm h5 {
    color: red;
    font-size: 1rem;
}

.SignInForm h3 {
    font-size: 1.5rem;
}

.SignInForm h3 div {
    display: inline;
    color: blue;
    cursor: pointer;
    z-index: 100;
}

@media (min-width: 500px) {
    .SignInForm {
        width: 60%;
    }
}